### Creating Financial Datasets [Prices]

In this notebook, I will create a scrip to download  price data from the EODHD API.
The API website is [EODHD API](https://eodhd.com/).
The wil be stored in the .env file as EODHD_API_KEY.
The date range of the data will match the date range of the 'financial_data_EarningsCal.csv' file  stored in the data folder. From the same file, the company symbols will be used to download the price data.

The way that the API will be accessed is via a function that will iterate through the required dates and company symbols.

The final dataset will be stored in the data folder as 'price_data.csv'.

Let's get started!

In [29]:
import os
import pandas as pd
from datetime import datetime
from dotenv import load_dotenv

# Load environment variables from .env file

load_dotenv()

# Get the API key from environment variable

api_key = os.getenv('EODHD_API_KEY')

In [30]:
# load datasets to get the date range and company symbols

filepath='../Data/Datasets/financial_data_EarningsCal.csv'

financial_data = pd.read_csv(filepath)

In [31]:
# check the data

financial_data

,date,symbol,eps,epsEstimated,time,revenue,revenueEstimated,updatedFromDate,fiscalDateEnding
0,2025-10-29,AAPL,NaN,NaN,amc,NaN,NaN,2024-12-09,2025-09-28
1,2025-07-30,AAPL,NaN,NaN,amc,NaN,NaN,2024-12-09,2025-06-28
2,2025-04-30,AAPL,NaN,NaN,amc,NaN,NaN,2024-12-09,2025-03-28
3,2025-02-06,AAPL,NaN,2.36,amc,NaN,NaN,2024-12-09,2024-12-28
4,2024-10-31,AAPL,1.64,1.60,amc,9.493000e+10,9.451195e+10,2024-12-09,2024-09-28
...,...,...,...,...,...,...,...,...,...
13257,2014-08-05,ZTS,0.38,0.39,bmo,1.158000e+09,1.158000e+09,2024-11-21,2014-06-29
13258,2014-05-06,ZTS,0.38,0.37,bmo,1.097000e+09,1.068132e+09,2024-11-21,2014-03-30
13259,2014-02-11,ZTS,0.36,0.35,bmo,1.254000e+09,1.184333e+09,2024-11-21,2013-12-31
13260,2013-11-05,ZTS,0.34,0.35,bmo,1.103000e+09,1.103000e+09,2024-11-21,2013-09-29
13261,2013-08-06,ZTS,0.36,0.36,bmo,1.114000e+09,1.114000e+09,2024-11-21,2013-06-30

In [32]:
# get the date range from the financial data with the min and max dates

min_date = financial_data['fiscalDateEnding'].min()

max_date = financial_data['date'].max()

min_date, max_date

('1993-12-30', '2026-10-28')

In [33]:
# get a unique list of dates and rank in ascending order

dates = financial_data['fiscalDateEnding'].unique()

dates = sorted(dates)

dates

['1993-12-30',
 '1994-06-30',
 '1994-12-30',
 '1995-06-30',
 '1996-06-30',
 '2000-12-31',
 '2001-06-30',
 '2001-12-30',
 '2001-12-31',
 '2002-06-30',
 '2002-12-30',
 '2002-12-31',
 '2003-01-26',
 '2003-04-27',
 '2003-06-30',
 '2003-07-27',
 '2003-10-26',
 '2003-12-30',
 '2003-12-31',
 '2004-06-30',
 '2004-09-30',
 '2004-12-30',
 '2004-12-31',
 '2005-03-31',
 '2005-06-30',
 '2005-09-30',
 '2005-12-31',
 '2006-03-31',
 '2006-06-30',
 '2006-07-30',
 '2006-09-30',
 '2006-10-24',
 '2006-12-30',
 '2006-12-31',
 '2007-03-31',
 '2007-06-30',
 '2007-07-24',
 '2007-09-30',
 '2007-12-31',
 '2008-01-23',
 '2008-03-31',
 '2008-06-30',
 '2008-07-23',
 '2008-09-30',
 '2008-12-31',
 '2009-03-31',
 '2009-06-30',
 '2009-09-30',
 '2009-12-31',
 '2010-03-31',
 '2010-06-30',
 '2010-08-01',
 '2010-09-30',
 '2010-12-31',
 '2011-03-31',
 '2011-06-30',
 '2011-09-30',
 '2011-12-31',
 '2012-03-31',
 '2012-06-30',
 '2012-09-28',
 '2012-09-30',
 '2012-12-28',
 '2012-12-31',
 '2013-02-09',
 '2013-03-29',
 '2013-03-31',
 '2013-04-30',
 '2013-05-03',
 '2013-05-04',
 '2013-05-12',
 '2013-05-30',
 '2013-05-31',
 '2013-06-15',
 '2013-06-28',
 '2013-06-29',
 '2013-06-30',
 '2013-07-27',
 '2013-07-28',
 '2013-07-31',
 '2013-08-02',
 '2013-08-03',
 '2013-08-04',
 '2013-08-29',
 '2013-08-30',
 '2013-08-31',
 '2013-09-01',
 '2013-09-07',
 '2013-09-27',
 '2013-09-28',
 '2013-09-29',
 '2013-09-30',
 '2013-10-26',
 '2013-10-27',
 '2013-10-31',
 '2013-11-01',
 '2013-11-02',
 '2013-11-03',
 '2013-11-23',
 '2013-11-24',
 '2013-11-28',
 '2013-11-29',
 '2013-11-30',
 '2013-12-27',
 '2013-12-28',
 '2013-12-29',
 '2013-12-31',
 '2014-01-25',
 '2014-01-26',
 '2014-01-31',
 '2014-02-01',
 '2014-02-02',
 '2014-02-09',
 '2014-02-15',
 '2014-02-16',
 '2014-02-27',
 '2014-02-28',
 '2014-03-22',
 '2014-03-28',
 '2014-03-29',
 '2014-03-30',
 '2014-03-31',
 '2014-04-26',
 '2014-04-27',
 '2014-04-30',
 '2014-05-02',
 '2014-05-03',
 '2014-05-04',
 '2014-05-10',
 '2014-05-11',
 '2014-05-29',
 '2014-05-30',
 '2014-05-31',
 '2014-06-14',
 '2014-06-27',
 '2014-06-28',
 '2014-06-29',
 '2014-06-30',
 '2014-07-26',
 '2014-07-27',
 '2014-07-31',
 '2014-08-01',
 '2014-08-02',
 '2014-08-03',
 '2014-08-28',
 '2014-08-29',
 '2014-08-30',
 '2014-08-31',
 '2014-09-06',
 '2014-09-26',
 '2014-09-27',
 '2014-09-28',
 '2014-09-30',
 '2014-10-25',
 '2014-10-26',
 '2014-10-31',
 '2014-11-01',
 '2014-11-02',
 '2014-11-22',
 '2014-11-23',
 '2014-11-28',
 '2014-11-30',
 '2014-12-04',
 '2014-12-26',
 '2014-12-27',
 '2014-12-28',
 '2014-12-31',
 '2015-01-03',
 '2015-01-23',
 '2015-01-24',
 '2015-01-25',
 '2015-01-30',
 '2015-01-31',
 '2015-02-01',
 '2015-02-14',
 '2015-02-15',
 '2015-02-27',
 '2015-02-28',
 '2015-03-05',
 '2015-03-21',
 '2015-03-27',
 '2015-03-28',
 '2015-03-29',
 '2015-03-30',
 '2015-03-31',
 '2015-04-03',
 '2015-04-04',
 '2015-04-05',
 '2015-04-24',
 '2015-04-25',
 '2015-04-26',
 '2015-04-30',
 '2015-05-01',
 '2015-05-02',
 '2015-05-03',
 '2015-05-09',
 '2015-05-10',
 '2015-05-29',
 '2015-05-31',
 '2015-06-04',
 '2015-06-13',
 '2015-06-26',
 '2015-06-27',
 '2015-06-28',
 '2015-06-30',
 '2015-07-03',
 '2015-07-04',
 '2015-07-05',
 '2015-07-25',
 '2015-07-26',
 '2015-07-28',
 '2015-07-30',
 '2015-07-31',
 '2015-08-01',
 '2015-08-02',
 '2015-08-28',
 '2015-08-29',
 '2015-08-30',
 '2015-08-31',
 '2015-09-03',
 '2015-09-05',
 '2015-09-25',
 '2015-09-26',
 '2015-09-27',
 '2015-09-30',
 '2015-10-02',
 '2015-10-03',
 '2015-10-04',
 '2015-10-24',
 '2015-10-25',
 '2015-10-28',
 '2015-10-30',
 '2015-10-31',
 '2015-11-01',
 '2015-11-21',
 '2015-11-22',
 '2015-11-27',
 '2015-11-30',
 '2015-12-03',
 '2015-12-25',
 '2015-12-26',
 '2015-12-27',
 '2015-12-31',
 '2016-01-02',
 '2016-01-03',
 '2016-01-23',
 '2016-01-29',
 '2016-01-30',
 '2016-01-31',
 '2016-02-13',
 '2016-02-14',
 '2016-02-29',
 '2016-03-03',
 '2016-03-04',
 '2016-03-19',
 '2016-03-25',
 '2016-03-26',
 '2016-03-27',
 '2016-03-30',
 '2016-03-31',
 '2016-04-01',
 '2016-04-02',
 '2016-04-03',
 '2016-04-29',
 '2016-04-30',
 '2016-05-01',
 '2016-05-02',
 '2016-05-07',
 '2016-05-08',
 '2016-05-31',
 '2016-06-02',
 '2016-06-03',
 '2016-06-11',
 '2016-06-24',
 '2016-06-25',
 '2016-06-26',
 '2016-06-30',
 '2016-07-01',
 '2016-07-02',
 '2016-07-03',
 '2016-07-29',
 '2016-07-30',
 '2016-07-31',
 '2016-08-27',
 '2016-08-28',
 '2016-08-31',
 '2016-09-01',
 '2016-09-02',
 '2016-09-03',
 '2016-09-23',
 '2016-09-24',
 '2016-09-25',
 '2016-09-30',
 '2016-10-01',
 '2016-10-02',
 '2016-10-28',
 '2016-10-29',
 '2016-10-30',
 '2016-10-31',
 '2016-11-19',
 '2016-11-20',
 '2016-11-30',
 '2016-12-01',
 '2016-12-02',
 '2016-12-25',
 '2016-12-30',
 '2016-12-31',
 '2017-01-01',
 '2017-01-27',
 '2017-01-28',
 '2017-01-29',
 '2017-01-31',
 '2017-02-03',
 '2017-02-11',
 '2017-02-12',
 '2017-02-28',
 '2017-03-02',
 '2017-03-03',
 '2017-03-25',
 '2017-03-26',
 '2017-03-30',
 '2017-03-31',
 '2017-04-01',
 '2017-04-02',
 '2017-04-28',
 '2017-04-29',
 '2017-04-30',
 '2017-05-05',
 '2017-05-06',
 '2017-05-07',
 '2017-05-31',
 '2017-06-01',
 '2017-06-02',
 '2017-06-17',
 '2017-06-25',
 '2017-06-30',
 '2017-07-01',
 '2017-07-02',
 '2017-07-28',
 '2017-07-29',
 '2017-07-30',
 '2017-07-31',
 '2017-08-04',
 '2017-08-26',
 '2017-08-31',
 '2017-09-01',
 '2017-09-03',
 '2017-09-09',
 '2017-09-24',
 '2017-09-29',
 '2017-09-30',
 '2017-10-01',
 '2017-10-27',
 '2017-10-28',
 '2017-10-29',
 '2017-10-31',
 '2017-11-03',
 '2017-11-18',
 '2017-11-26',
 '2017-11-30',
 '2017-12-01',
 '2017-12-24',
 '2017-12-30',
 '2017-12-31',
 '2018-01-01',
 '2018-01-26',
 '2018-01-27',
 '2018-01-28',
 '2018-01-31',
 '2018-02-02',
 '2018-02-03',
 '2018-02-10',
 '2018-02-18',
 '2018-02-28',
 '2018-03-01',
 '2018-03-02',
 '2018-03-14',
 '2018-03-24',
 '2018-03-25',
 '2018-03-30',
 '2018-03-31',
 '2018-04-01',
 '2018-04-27',
 '2018-04-28',
 '2018-04-29',
 '2018-04-30',
 '2018-05-04',
 '2018-05-05',
 '2018-05-06',
 '2018-05-13',
 '2018-05-31',
 '2018-06-01',
 '2018-06-16',
 '2018-06-24',
 '2018-06-29',
 '2018-06-30',
 '2018-07-01',
 '2018-07-27',
 '2018-07-28',
 '2018-07-29',
 '2018-07-31',
 '2018-08-03',
 '2018-08-04',
 '2018-08-05',
 '2018-08-25',
 '2018-08-30',
 '2018-08-31',
 '2018-09-02',
 '2018-09-08',
 '2018-09-23',
 '2018-09-28',
 '2018-09-29',
 '2018-09-30',
 '2018-10-26',
 '2018-10-27',
 '2018-10-28',
 '2018-10-31',
 '2018-11-02',
 '2018-11-03',
 '2018-11-04',
 '2018-11-17',
 '2018-11-25',
 '2018-11-29',
 '2018-11-30',
 '2018-12-23',
 '2018-12-29',
 '2018-12-30',
 '2018-12-31',
 '2019-01-25',
 '2019-01-26',
 '2019-01-27',
 '2019-01-31',
 '2019-02-01',
 '2019-02-02',
 '2019-02-03',
 '2019-02-09',
 '2019-02-17',
 '2019-02-28',
 '2019-03-01',
 '2019-03-23',
 '2019-03-29',
 '2019-03-30',
 '2019-03-31',
 '2019-04-26',
 '2019-04-27',
 '2019-04-28',
 '2019-04-30',
 '2019-05-03',
 '2019-05-04',
 '2019-05-05',
 '2019-05-12',
 '2019-05-30',
 '2019-05-31',
 '2019-06-15',
 '2019-06-28',
 '2019-06-29',
 '2019-06-30',
 '2019-07-26',
 '2019-07-27',
 '2019-07-28',
 '2019-07-31',
 '2019-08-02',
 '2019-08-03',
 '2019-08-04',
 '2019-08-29',
 '2019-08-30',
 '2019-08-31',
 '2019-09-01',
 '2019-09-07',
 '2019-09-27',
 '2019-09-28',
 '2019-09-29',
 '2019-09-30',
 '2019-10-25',
 '2019-10-26',
 '2019-10-27',
 '2019-10-31',
 '2019-11-01',
 '2019-11-02',
 '2019-11-03',
 '2019-11-23',
 '2019-11-24',
 '2019-11-28',
 '2019-11-29',
 '2019-11-30',
 '2019-12-28',
 '2019-12-29',
 '2019-12-31',
 '2020-01-24',
 '2020-01-25',
 '2020-01-26',
 '2020-01-31',
 '2020-02-01',
 '2020-02-02',
 '2020-02-15',
 '2020-02-16',
 '2020-02-27',
 '2020-02-28',
 '2020-02-29',
 '2020-03-21',
 '2020-03-27',
 '2020-03-28',
 '2020-03-29',
 '2020-03-30',
 '2020-03-31',
 '2020-04-03',
 '2020-04-24',
 '2020-04-25',
 '2020-04-26',
 '2020-04-30',
 '2020-05-01',
 '2020-05-02',
 '2020-05-03',
 '2020-05-09',
 '2020-05-10',
 '2020-05-28',
 '2020-05-29',
 '2020-05-31',
 '2020-06-13',
 '2020-06-26',
 '2020-06-27',
 '2020-06-28',
 '2020-06-30',
 '2020-07-03',
 '2020-07-25',
 '2020-07-26',
 '2020-07-31',
 '2020-08-01',
 '2020-08-02',
 '2020-08-28',
 '2020-08-29',
 '2020-08-30',
 '2020-08-31',
 '2020-09-03',
 '2020-09-05',
 '2020-09-25',
 '2020-09-26',
 '2020-09-27',
 '2020-09-30',
 '2020-10-02',
 '2020-10-03',
 '2020-10-24',
 '2020-10-25',
 '2020-10-30',
 '2020-10-31',
 '2020-11-01',
 '2020-11-21',
 '2020-11-22',
 '2020-11-27',
 '2020-11-30',
 '2020-12-03',
 '2020-12-26',
 '2020-12-27',
 '2020-12-31',
 '2021-01-02',
 '2021-01-03',
 '2021-01-23',
 '2021-01-29',
 '2021-01-30',
 '2021-01-31',
 '2021-02-13',
 '2021-02-14',
 '2021-02-28',
 '2021-03-04',
 '2021-03-05',
 '2021-03-20',
 '2021-03-27',
 '2021-03-28',
 '2021-03-30',
 '2021-03-31',
 '2021-04-02',
 '2021-04-03',
 '2021-04-04',
 '2021-04-30',
 '2021-05-01',
 '2021-05-02',
 '2021-05-08',
 '2021-05-09',
 '2021-05-31',
 '2021-06-03',
 '2021-06-04',
 '2021-06-12',
 '2021-06-26',
 '2021-06-27',
 '2021-06-30',
 '2021-07-02',
 '2021-07-03',
 '2021-07-04',
 '2021-07-30',
 '2021-07-31',
 '2021-08-01',
 '2021-08-28',
 '2021-08-29',
 '2021-08-31',
 '2021-09-02',
 '2021-09-03',
 '2021-09-04',
 '2021-09-25',
 '2021-09-26',
 '2021-09-30',
 '2021-10-01',
 '2021-10-02',
 '2021-10-03',
 '2021-10-29',
 '2021-10-30',
 '2021-10-31',
 '2021-11-20',
 '2021-11-21',
 '2021-11-30',
 '2021-12-02',
 '2021-12-03',
 '2021-12-25',
 '2021-12-26',
 '2021-12-31',
 '2022-01-01',
 '2022-01-02',
 '2022-01-28',
 '2022-01-29',
 '2022-01-30',
 '2022-01-31',
 '2022-02-12',
 '2022-02-13',
 '2022-02-28',
 '2022-03-03',
 '2022-03-04',
 '2022-03-19',
 '2022-03-26',
 '2022-03-27',
 '2022-03-30',
 '2022-03-31',
 '2022-04-01',
 '2022-04-02',
 '2022-04-03',
 '2022-04-29',
 '2022-04-30',
 '2022-05-01',
 '2022-05-07',
 '2022-05-08',
 '2022-05-31',
 '2022-06-02',
 '2022-06-03',
 '2022-06-11',
 '2022-06-25',
 '2022-06-26',
 '2022-06-30',
 '2022-07-01',
 '2022-07-02',
 '2022-07-03',
 '2022-07-29',
 '2022-07-30',
 '2022-07-31',
 '2022-08-27',
 '2022-08-28',
 '2022-08-31',
 '2022-09-01',
 '2022-09-02',
 '2022-09-03',
 '2022-09-24',
 '2022-09-25',
 '2022-09-30',
 '2022-10-01',
 '2022-10-02',
 '2022-10-28',
 '2022-10-29',
 '2022-10-30',
 '2022-10-31',
 '2022-11-19',
 '2022-11-20',
 '2022-11-30',
 '2022-12-01',
 '2022-12-02',
 '2022-12-25',
 '2022-12-31',
 '2023-01-01',
 '2023-01-27',
 '2023-01-28',
 '2023-01-29',
 '2023-01-31',
 '2023-02-03',
 '2023-02-11',
 '2023-02-12',
 '2023-02-28',
 '2023-03-02',
 '2023-03-03',
 '2023-03-19',
 '2023-03-25',
 '2023-03-26',
 '2023-03-30',
 '2023-03-31',
 '2023-04-01',
 '2023-04-02',
 '2023-04-28',
 '2023-04-29',
 '2023-04-30',
 '2023-05-05',
 '2023-05-06',
 '2023-05-07',
 '2023-05-31',
 '2023-06-01',
 '2023-06-02',
 '2023-06-17',
 '2023-06-25',
 '2023-06-30',
 '2023-07-01',
 '2023-07-02',
 '2023-07-28',
 '2023-07-29',
 '2023-07-30',
 '2023-07-31',
 '2023-08-04',
 '2023-08-26',
 '2023-08-31',
 '2023-09-01',
 '2023-09-03',
 '2023-09-09',
 '2023-09-24',
 '2023-09-29',
 '2023-09-30',
 '2023-10-01',
 '2023-10-27',
 '2023-10-28',
 '2023-10-29',
 '2023-10-31',
 '2023-11-03',
 '2023-11-18',
 '2023-11-26',
 '2023-11-30',
 '2023-12-01',
 '2023-12-23',
 '2023-12-24',
 '2023-12-30',
 '2023-12-31',
 '2024-01-26',
 '2024-01-27',
 '2024-01-28',
 '2024-01-31',
 '2024-02-02',
 '2024-02-03',
 '2024-02-04',
 '2024-02-10',
 '2024-02-18',
 '2024-02-29',
 '2024-03-01',
 '2024-03-24',
 '2024-03-29',
 '2024-03-30',
 '2024-03-31',
 '2024-04-26',
 '2024-04-27',
 '2024-04-28',
 '2024-04-30',
 '2024-05-03',
 '2024-05-04',
 '2024-05-05',
 '2024-05-12',
 '2024-05-30',
 '2024-05-31',
 '2024-06-15',
 '2024-06-23',
 '2024-06-28',
 '2024-06-29',
 '2024-06-30',
 '2024-07-26',
 '2024-07-27',
 '2024-07-28',
 '2024-07-31',
 '2024-08-02',
 '2024-08-03',
 '2024-08-04',
 '2024-08-29',
 '2024-08-30',
 '2024-08-31',
 '2024-09-01',
 '2024-09-07',
 '2024-09-27',
 '2024-09-28',
 '2024-09-29',
 '2024-09-30',
 '2024-10-01',
 '2024-10-25',
 '2024-10-26',
 '2024-10-27',
 '2024-10-28',
 '2024-10-31',
 '2024-11-01',
 '2024-11-02',
 '2024-11-04',
 '2024-11-29',
 '2024-11-30',
 '2024-12-01',
 '2024-12-07',
 '2024-12-27',
 '2024-12-28',
 '2024-12-29',
 '2024-12-30',
 '2025-01-25',
 '2025-01-26',
 '2025-01-27',
 '2025-01-28',
 '2025-01-31',
 '2025-02-02',
 '2025-02-04',
 '2025-02-28',
 '2025-03-07',
 '2025-03-27',
 '2025-03-28',
 '2025-03-29',
 '2025-03-30',
 '2025-03-31',
 '2025-04-25',
 '2025-04-26',
 '2025-04-27',
 '2025-04-28',
 '2025-04-30',
 '2025-05-02',
 '2025-05-04',
 '2025-05-29',
 '2025-05-30',
 '2025-05-31',
 '2025-06-07',
 '2025-06-27',
 '2025-06-28',
 '2025-06-29',
 '2025-06-30',
 '2025-07-25',
 '2025-07-26',
 '2025-07-27',
 '2025-07-28',
 '2025-07-31',
 '2025-08-02',
 '2025-08-04',
 '2025-08-29',
 '2025-08-30',
 '2025-08-31',
 '2025-09-07',
 '2025-09-27',
 '2025-09-28',
 '2025-09-29',
 '2025-09-30',
 '2025-10-26',
 '2025-10-27',
 '2025-11-30',
 '2025-12-30',
 '2025-12-31',
 '2026-03-30',
 '2026-06-30',
 '2026-09-30']

In [34]:
# view the data based on symbol provided

financial_data[financial_data['symbol']=='NVDA']

,date,symbol,eps,epsEstimated,time,revenue,revenueEstimated,updatedFromDate,fiscalDateEnding
8515,2025-08-26,NVDA,NaN,NaN,amc,NaN,NaN,2024-12-07,2025-07-27
8516,2025-05-20,NVDA,NaN,NaN,amc,NaN,NaN,2024-12-07,2025-04-27
8517,2025-02-19,NVDA,NaN,0.83000,amc,NaN,3.801101e+10,2024-12-07,2025-01-27
8518,2024-11-20,NVDA,0.81000,0.75000,amc,3.508200e+10,3.317132e+10,2024-12-07,2024-10-27
8519,2024-08-28,NVDA,0.68000,0.64000,amc,3.004000e+10,2.877951e+10,2024-11-28,2024-07-28
8520,2024-05-22,NVDA,0.61000,0.56000,amc,2.604400e+10,2.459280e+10,2024-11-25,2024-04-28
8521,2024-02-21,NVDA,0.52000,0.46000,amc,2.210300e+10,2.023880e+10,2024-11-25,2024-01-28
8522,2023-11-21,NVDA,0.40000,0.34000,amc,1.812000e+10,1.519460e+10,2024-11-25,2023-10-29
8523,2023-08-23,NVDA,0.27000,0.21000,amc,1.350700e+10,1.122400e+10,2024-11-25,2023-07-30
8524,2023-05-24,NVDA,0.11000,0.09000,amc,7.192000e+09,6.516830e+09,2024-11-25,2023-04-30
8525,2023-02-22,NVDA,0.09000,0.08000,amc,6.051000e+09,6.015052e+09,2024-11-25,2023-01-29
8526,2022-11-16,NVDA,0.06000,0.07000,amc,5.931000e+09,5.780772e+09,2024-11-25,2022-10-30
8527,2022-08-24,NVDA,0.05000,0.06000,amc,6.704000e+09,6.699487e+09,2024-11-25,2022-07-31
8528,2022-05-25,NVDA,0.14000,0.13000,amc,8.288000e+09,8.123361e+09,2024-11-25,2022-05-01
8529,2022-02-16,NVDA,0.13000,0.12000,amc,7.643000e+09,7.420320e+09,2024-11-25,2022-01-30
8530,2021-11-17,NVDA,0.12000,0.11000,amc,7.103000e+09,7.413390e+09,2024-11-25,2021-10-31
8531,2021-08-18,NVDA,0.10000,0.10000,amc,6.507000e+09,6.816700e+09,2024-11-25,2021-08-01
8532,2021-05-26,NVDA,0.09000,0.08000,amc,5.661000e+09,5.318430e+09,2024-11-25,2021-05-02
8533,2021-02-24,NVDA,0.08000,0.07000,amc,5.003000e+09,4.814350e+09,2024-11-25,2021-01-31
8534,2020-11-18,NVDA,0.07000,0.06000,amc,4.726000e+09,4.100770e+09,2024-11-25,2020-10-25
8535,2020-08-19,NVDA,0.05000,0.05000,amc,3.866000e+09,3.493587e+09,2024-11-25,2020-07-26
8536,2020-05-21,NVDA,0.05000,0.04684,amc,3.080000e+09,2.891778e+09,2024-11-25,2020-04-26
8537,2020-02-13,NVDA,0.05000,0.04415,amc,3.105000e+09,2.743571e+09,2024-11-25,2020-01-26
8538,2019-11-14,NVDA,0.04000,0.03538,amc,3.014000e+09,2.658416e+09,2024-11-25,2019-10-27
8539,2019-08-15,NVDA,0.03000,0.02770,amc,2.579000e+09,2.391815e+09,2024-11-25,2019-07-28
8540,2019-05-16,NVDA,0.02000,0.01840,amc,2.220000e+09,2.043409e+09,2024-11-25,2019-04-28
8541,2019-02-14,NVDA,0.02000,0.01878,amc,2.205000e+09,2.067188e+09,2024-11-25,2019-01-27
8542,2018-11-15,NVDA,0.05000,0.05000,amc,3.181000e+09,3.232864e+09,2024-11-25,2018-10-28
8543,2018-08-16,NVDA,0.05000,0.05000,amc,3.123000e+09,2.849335e+09,2024-11-25,2018-07-29
8544,2018-05-10,NVDA,0.05000,0.03886,amc,3.207000e+09,2.487380e+09,2024-11-25,2018-04-29
8545,2018-02-08,NVDA,0.04000,0.02977,amc,2.911000e+09,1.913410e+09,2024-11-25,2018-01-28
8546,2017-11-09,NVDA,0.03000,0.02130,amc,2.636000e+09,1.863038e+09,2024-11-25,2017-10-29
8547,2017-08-10,NVDA,0.03000,0.02275,amc,2.230000e+09,1.696739e+09,2024-11-25,2017-07-30
8548,2017-05-09,NVDA,0.02000,0.01669,amc,1.937000e+09,1.618253e+09,2024-11-25,2017-04-30
8549,2017-02-09,NVDA,0.02000,0.01672,amc,2.173000e+09,1.821808e+09,2024-11-25,2017-01-29
8550,2016-11-10,NVDA,0.02000,0.01358,amc,2.004000e+09,1.376241e+09,2024-11-25,2016-10-30
8551,2016-08-11,NVDA,0.01000,0.00934,amc,1.428000e+09,1.320900e+09,2024-11-25,2016-07-31
8552,2016-05-12,NVDA,0.01000,0.00963,amc,1.305000e+09,1.265455e+09,2024-11-25,2016-05-01
8553,2016-02-17,NVDA,0.01000,0.00909,amc,1.401000e+09,1.280914e+09,2024-11-25,2016-01-31
8554,2015-11-05,NVDA,0.01000,0.00571,amc,1.305000e+09,1.162755e+09,2024-11-25,2015-10-25
8555,2015-05-07,NVDA,0.01000,0.01079,amc,1.151000e+09,1.246917e+09,2024-11-25,2015-04-26
8556,2015-02-11,NVDA,0.01000,0.00816,amc,1.250514e+09,1.000400e+09,2024-11-25,2015-01-25
8557,2014-11-06,NVDA,0.01000,0.00919,amc,1.225382e+09,1.106813e+09,2024-11-25,2014-10-26
8558,2013-11-07,NVDA,0.01000,0.00975,amc,1.053967e+09,1.054000e+09,2024-11-25,2013-10-27
8559,2010-08-12,NVDA,-0.00615,-0.00358,amc,8.112080e+08,2.974400e+09,2024-11-25,2010-08-01
8560,2006-07-29,NVDA,0.00375,NaN,amc,6.875190e+08,NaN,2024-11-25,2006-07-30
8561,2003-11-06,NVDA,0.00031,0.00026,bmo,4.860690e+08,3.888800e+08,2024-11-25,2003-10-26
8562,2003-08-07,NVDA,0.00115,0.00157,bmo,4.597740e+08,6.130667e+08,2024-11-25,2003-07-27
8563,2003-05-08,NVDA,0.00098,0.00086,bmo,4.049830e+08,4.050000e+08,2024-11-25,2003-04-27
8564,2003-02-13,NVDA,0.00253,0.00101,bmo,4.689530e+08,3.869250e+08,2024-11-25,2003-01-26

In [35]:
# create a table based on the number of symbols in each year of the fiscal date

financial_data.groupby('fiscalDateEnding')['symbol'].count()

fiscalDateEnding
1993-12-30     1
1994-06-30     1
1994-12-30     1
1995-06-30     1
1996-06-30     1
              ..
2025-12-30    10
2025-12-31     1
2026-03-30     4
2026-06-30     5
2026-09-30     4
Name: symbol, Length: 847, dtype: int64

In [36]:
# creating a unique list of symbols based on the dataset

symbols = financial_data['symbol'].unique()

# printing the count of symbols

len(symbols)

282

In [37]:
# creating a function to get time series price data for each symbol.
# The function will iterate through the list of symbols and get the price data for each symbol.
# The function will take an dataframe as an input and append the data for each symbol to the dataframe, the empty dataframe should be defined before the function and be an input into the function.
# The function will append data after each API call to the dataframe, in case if the API times out I will not lose previous data. The function will return the dataframe with all the data for all the symbols once iteration is complete.
# The function will take start dates and end dates as inputs
# The API used is the EODHD API, the historical data endpoint. In order to make sure that API doesn't time out a retry logic will be put into the function and sleep/delay will be added between retries. The data will be accessed on a daily basis. An example of endpoint access is as follows https://eodhd.com/api/eod/MCD.US?from=2020-01-05&to=2020-02-10&period=d&api_token=sample_API&fmt=json

In [38]:
import requests
import time
import pandas as pd

def get_price_data(symbols, start_date, end_date, price_data, retries=3, delay=5, timeout=10):
    for symbol in symbols:
        url = f'https://eodhd.com/api/eod/{symbol}.US?from={start_date}&to={end_date}&api_token={api_key}&fmt=json'
        for attempt in range(retries):
            try:
                response = requests.get(url, timeout=timeout)
                response.raise_for_status()  # Raise an error for bad status codes
                data = response.json()
                temp_data = pd.DataFrame(data)
                temp_data['symbol'] = symbol
                price_data = pd.concat([price_data, temp_data], ignore_index=True)
                break  # Exit the retry loop if the request is successful
            except requests.exceptions.RequestException as e:
                print(f'Attempt {attempt + 1} of {retries} failed: {e}. Retrying in {delay} seconds...')
                time.sleep(delay)
    return price_data

In [39]:
# Example usage:
# Define an empty DataFrame to store the price data
price_data_test = pd.DataFrame()

# Define the list of symbols, start date, and end date
symbols_test = ['AAPL']
start_date_test = '2024-10-01'
end_date_test = '2024-10-10'

In [40]:
# Call the function to get the price data
price_data = get_price_data(symbols_test, start_date_test, end_date_test, price_data_test)
price_data

         date    open    high     low   close  adjusted_close    volume symbol
0  2024-10-01  229.52  229.65  223.74  226.21        225.9614  63285000   AAPL
1  2024-10-02  225.89  227.37  223.02  226.78        226.5308  32880600   AAPL
2  2024-10-03  225.14  226.81  223.32  225.67        225.4220  34044200   AAPL
3  2024-10-04  227.90  228.00  224.13  226.80        226.5507  37245100   AAPL
4  2024-10-07  224.50  225.69  221.33  221.69        221.4464  39505400   AAPL
5  2024-10-08  224.30  225.98  223.25  225.77        225.5219  31855700   AAPL
6  2024-10-09  225.23  229.75  224.83  229.54        229.2877  33591100   AAPL
7  2024-10-10  227.78  229.50  227.17  229.04        228.7883  28183500   AAPL

In [41]:
# Now that the test function works, I will use the function to get the price data for all the symbols in the dataset.

# Define an empty DataFrame to store the price data

price_data = pd.DataFrame()

# Define the start date and end date

end_date = '2024-12-01' # startring date is close to present date when the data is being created
start_date = '2013-01-01' # roughly 10 years of data to match the earnings data

In [42]:
# Call the function to get the price data using the symbols from the dataset, start date, and end date and the empty dataframe defined above

price_data = get_price_data(symbols, start_date, end_date, price_data)

# view the data, first 100 rows

price_data.head(100)

,date,open,high,low,close,adjusted_close,volume,symbol
0,2013-01-02,553.8204,554.9992,541.6292,549.0296,16.6873,560518000.0,AAPL
1,2013-01-03,547.8788,549.6708,540.9992,542.0996,16.4767,352965200.0,AAPL
2,2013-01-04,536.9700,538.6304,525.8288,526.9992,16.0177,594333600.0,AAPL
3,2013-01-07,522.0012,529.3008,515.2000,523.8996,15.9235,484156400.0,AAPL
4,2013-01-08,529.2112,531.8908,521.2508,525.3108,15.9664,458707200.0,AAPL
...,...,...,...,...,...,...,...,...
95,2013-05-20,431.9112,445.7992,430.0996,442.9292,13.6306,451578400.0,AAPL
96,2013-05-21,438.1496,445.4800,434.1988,439.6588,13.5299,456022000.0,AAPL
97,2013-05-22,444.0492,448.3500,438.2196,441.3500,13.5820,443038400.0,AAPL
98,2013-05-23,435.9488,446.1604,435.7892,442.1396,13.6063,353021200.0,AAPL
99,2013-05-24,440.8488,445.6592,440.3588,445.1496,13.6989,276166800.0,AAPL

In [43]:
# save the data to the data folder

price_data.to_csv('../Data/Datasets/financial_data_prices.csv', index=False)

In [44]:
# describe the data

price_data.describe()

,open,high,low,close,adjusted_close,volume
count,784473.000000,784473.000000,784473.000000,784473.000000,784473.000000,7.844730e+05
mean,1414.766254,1424.703154,1403.455690,1414.094327,1378.542523,9.142435e+06
std,22115.370079,22266.947014,21939.138705,22101.311995,22102.848235,3.624666e+07
min,1.620000,1.690000,0.001300,1.620000,0.276400,0.000000e+00
25%,46.000000,46.480000,45.540000,46.020000,29.863500,1.236179e+06
50%,83.160000,83.970000,82.363100,83.190000,61.105700,2.810000e+06
75%,160.600000,162.270100,158.940000,160.610000,127.308300,6.818800e+06
max,730090.820000,741971.390000,723050.000000,724040.000000,724040.000000,3.692928e+09

In [45]:
# check the data types

price_data.dtypes

date               object
open              float64
high              float64
low               float64
close             float64
adjusted_close    float64
volume            float64
symbol             object
dtype: object