### Finalizing Finance Data Dataset with Prices

The aim of this script is to combine the finance data set with prices.
The finance data set was created in a previous script, it contains data on fundementals and earnings of companies.
The prices data set contains daily prices of companies, set at the end of the day.

After merging the two files I will save it and move on the next step of the project.

In [2]:
# importing librariesq
import pandas as pd
import numpy as np
import os

In [3]:
# setting out the path for the data: Prices and Finance Data

prices_path = '../Data/Datasets/financial_data_prices.csv'

earnings_path = '../Data/Datasets/financial_data_EarningsCal.csv'

finance_path = '../Data/Datasets/starting_financial_data_combined.csv'

In [4]:
# loading the dataset

prices_data = pd.read_csv(prices_path)

earnings_data = pd.read_csv(earnings_path)

finance_data = pd.read_csv(finance_path)

In [23]:
# viewing the data

# viewing the prices data

prices_data

,date,open,high,low,close,adjusted_close,volume,symbol
0,2013-01-02,553.8204,554.9992,541.6292,549.0296,16.6873,560518000.0,AAPL
1,2013-01-03,547.8788,549.6708,540.9992,542.0996,16.4767,352965200.0,AAPL
2,2013-01-04,536.9700,538.6304,525.8288,526.9992,16.0177,594333600.0,AAPL
3,2013-01-07,522.0012,529.3008,515.2000,523.8996,15.9235,484156400.0,AAPL
4,2013-01-08,529.2112,531.8908,521.2508,525.3108,15.9664,458707200.0,AAPL
...,...,...,...,...,...,...,...,...
784468,2024-11-22,176.3500,178.0700,176.2800,176.9600,176.9600,1854600.0,ZTS
784469,2024-11-25,177.0000,178.8000,176.1500,178.7100,178.7100,4558300.0,ZTS
784470,2024-11-26,178.4500,178.6500,174.8400,175.7000,175.7000,2539600.0,ZTS
784471,2024-11-27,175.2700,179.2700,175.0000,176.7400,176.7400,2315800.0,ZTS
784472,2024-11-29,176.9300,177.8100,175.2400,175.2500,175.2500,1543400.0,ZTS

In [11]:
# viewing the finance data

finance_data.head(100)

,addTotalDebt,assetGrowth,assetTurnover,averageInventory,averagePayables,averageReceivables,beta,bookValuePerShare,bookValueperShareGrowth,calendarYear,...,threeYDividendperShareGrowthPerShare,threeYNetIncomeGrowthPerShare,threeYOperatingCFGrowthPerShare,threeYRevenueGrowthPerShare,threeYShareholdersEquityGrowthPerShare,totalDebtToCapitalization,weightedAverageSharesDilutedGrowth,weightedAverageSharesGrowth,workingCapital,zip
0,106629000000,0.100624,0.260096,6.725500e+09,5.826700e+10,5.470750e+10,1.240,3.753628,-0.137951,2024,...,0.135642,-0.220800,0.442328,0.237508,-0.019076,0.651850,-0.006862,-0.009661,-2.340500e+10,95014
1,101304000000,-0.017187,0.258667,6.198500e+09,4.666350e+10,4.216100e+10,1.240,4.354308,-0.095859,2024,...,0.122352,0.070692,0.484993,0.143358,0.126469,0.602957,-0.007535,-0.005573,-6.189000e+09,95014
2,104590000000,-0.045551,0.268969,6.371500e+09,5.194950e+10,4.562600e+10,1.240,4.815961,0.008022,2024,...,0.170447,0.087751,0.028931,0.101665,0.166326,0.585008,-0.007186,-0.006699,4.594000e+09,95014
3,108040000000,0.002641,0.338247,6.421000e+09,6.037850e+10,5.554350e+10,1.240,4.777636,0.199247,2024,...,0.155970,0.287877,0.123787,0.171619,0.221760,0.593170,-0.006110,-0.005748,9.719000e+09,95014
4,123930000000,0.052367,0.253835,6.841000e+09,5.465500e+10,5.008550e+10,1.240,3.983862,0.037547,2023,...,0.170403,0.980735,0.147789,0.512628,0.040041,0.641260,-0.006505,-0.006254,-1.742000e+09,95014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2329808000,0.201985,0.081901,0.000000e+00,6.293500e+07,1.183084e+09,1.156,8.392599,14.341711,2020,...,0.000000,-15.983156,-0.087816,0.192175,6.517013,0.388339,-0.411179,-0.411179,3.776607e+09,94103
96,2254092000,-0.168043,0.153788,0.000000e+00,6.293500e+07,9.241900e+07,1.156,0.547045,-0.899906,2020,...,0.000000,-0.635875,0.000000,-0.638930,0.000000,0.851311,0.105951,0.105951,1.294158e+09,94103
97,487491000,0.000000,0.031909,0.000000e+00,3.994900e+07,0.000000e+00,1.156,5.465317,0.000000,2020,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.143833,0.000000,0.000000,3.776607e+09,94103
98,0,-1.000000,0.000000,0.000000e+00,7.570850e+07,0.000000e+00,1.156,0.000000,1.000000,2020,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.074273e+09,94103
99,419396000,0.000000,0.133187,NaN,NaN,NaN,1.156,-1.521222,0.000000,2019,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.042520,1.042518,1.327679e+09,94103

In [25]:
# viewing the earnings calendar data

earnings_data.head(100)

,date,symbol,eps,epsEstimated,time,revenue,revenueEstimated,updatedFromDate,fiscalDateEnding
0,2025-10-29,AAPL,NaN,NaN,amc,NaN,NaN,2024-12-09,2025-09-28
1,2025-07-30,AAPL,NaN,NaN,amc,NaN,NaN,2024-12-09,2025-06-28
2,2025-04-30,AAPL,NaN,NaN,amc,NaN,NaN,2024-12-09,2025-03-28
3,2025-02-06,AAPL,NaN,2.36,amc,NaN,NaN,2024-12-09,2024-12-28
4,2024-10-31,AAPL,1.64,1.60,amc,9.493000e+10,9.451195e+10,2024-12-09,2024-09-28
...,...,...,...,...,...,...,...,...,...
95,2014-07-25,ABBV,0.82,0.76,bmo,4.926000e+09,4.565561e+09,2024-11-21,2014-06-30
96,2014-04-25,ABBV,0.71,0.68,bmo,4.563000e+09,4.370197e+09,2024-11-21,2014-03-31
97,2014-01-31,ABBV,0.82,0.82,bmo,5.111000e+09,5.111000e+09,2024-11-21,2013-12-31
98,2013-10-25,ABBV,0.82,0.78,bmo,4.658000e+09,4.430780e+09,2024-11-21,2013-09-30
99,2013-07-26,ABBV,0.82,0.79,bmo,4.692000e+09,4.520341e+09,2024-11-21,2013-06-30

In [26]:
# creating additional date columns to represent the date x + N from the earnings release date.
# first coluumn will be N = 1
# second column will be N = 7 (1 week)
# third column will be N = 28 (1 month)
# fourth column will be N = 91 (3 months)

earnings_data['date'] = pd.to_datetime(earnings_data['date'])

earnings_data['date_1'] = earnings_data['date'] + pd.DateOffset(days=1)

earnings_data['date_7'] = earnings_data['date'] + pd.DateOffset(days=7)

earnings_data['date_28'] = earnings_data['date'] + pd.DateOffset(days=28)

earnings_data['date_91'] = earnings_data['date'] + pd.DateOffset(days=91)

In [27]:
earnings_data

,date,symbol,eps,epsEstimated,time,revenue,revenueEstimated,updatedFromDate,fiscalDateEnding,date_1,date_7,date_28,date_91
0,2025-10-29,AAPL,NaN,NaN,amc,NaN,NaN,2024-12-09,2025-09-28,2025-10-30,2025-11-05,2025-11-26,2026-01-28
1,2025-07-30,AAPL,NaN,NaN,amc,NaN,NaN,2024-12-09,2025-06-28,2025-07-31,2025-08-06,2025-08-27,2025-10-29
2,2025-04-30,AAPL,NaN,NaN,amc,NaN,NaN,2024-12-09,2025-03-28,2025-05-01,2025-05-07,2025-05-28,2025-07-30
3,2025-02-06,AAPL,NaN,2.36,amc,NaN,NaN,2024-12-09,2024-12-28,2025-02-07,2025-02-13,2025-03-06,2025-05-08
4,2024-10-31,AAPL,1.64,1.60,amc,9.493000e+10,9.451195e+10,2024-12-09,2024-09-28,2024-11-01,2024-11-07,2024-11-28,2025-01-30
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13257,2014-08-05,ZTS,0.38,0.39,bmo,1.158000e+09,1.158000e+09,2024-11-21,2014-06-29,2014-08-06,2014-08-12,2014-09-02,2014-11-04
13258,2014-05-06,ZTS,0.38,0.37,bmo,1.097000e+09,1.068132e+09,2024-11-21,2014-03-30,2014-05-07,2014-05-13,2014-06-03,2014-08-05
13259,2014-02-11,ZTS,0.36,0.35,bmo,1.254000e+09,1.184333e+09,2024-11-21,2013-12-31,2014-02-12,2014-02-18,2014-03-11,2014-05-13
13260,2013-11-05,ZTS,0.34,0.35,bmo,1.103000e+09,1.103000e+09,2024-11-21,2013-09-29,2013-11-06,2013-11-12,2013-12-03,2014-02-04
13261,2013-08-06,ZTS,0.36,0.36,bmo,1.114000e+09,1.114000e+09,2024-11-21,2013-06-30,2013-08-07,2013-08-13,2013-09-03,2013-11-05

In [28]:
# for each of the date columns i would like to check if any of the dates fall on weekends. If they do I would like to move them to the next working day. I will do this check by creating additional columns that will provide the day of the week for each date column.

earnings_data['day_of_week'] = earnings_data['date'].dt.day_name()

earnings_data['day_of_week_1'] = earnings_data['date_1'].dt.day_name()

earnings_data['day_of_week_7'] = earnings_data['date_7'].dt.day_name()

earnings_data['day_of_week_28'] = earnings_data['date_28'].dt.day_name()

earnings_data['day_of_week_91'] = earnings_data['date_91'].dt.day_name()

# aggregate the day of the week columsn giving the count of each day of the week for each date column. The aim is to use pivot tables to see how the dates are distributed across the days of the week.

earnings_data.groupby('day_of_week_7').size() # in this case the 91 day column is used as an example. You can change the column to any of the date columns.

day_of_week_7
Friday       1276
Monday       1057
Saturday      181
Sunday        106
Thursday     3905
Tuesday      3259
Wednesday    3478
dtype: int64

In [29]:
# before getting the prices input into the earnings dataset, i will change the dates for any weekend dates to the next working day. Meaning for a statuday date, the date will be moved to the following monday (+2) and for a sunday date, the date will be moved to the monday (+1).

# Adjust weekend dates to the next working day
def adjust_weekend_dates(date):
    if date.weekday() == 5:  # Saturday
        return date + pd.DateOffset(days=2)
    elif date.weekday() == 6:  # Sunday
        return date + pd.DateOffset(days=1)
    else:
        return date

In [30]:
# Apply the adjustment to each date column
date_columns = ['date', 'date_1', 'date_7', 'date_28', 'date_91']
for col in date_columns:
    earnings_data[col] = earnings_data[col].apply(adjust_weekend_dates)

# Display the adjusted earnings_data
earnings_data

,date,symbol,eps,epsEstimated,time,revenue,revenueEstimated,updatedFromDate,fiscalDateEnding,date_1,date_7,date_28,date_91,day_of_week,day_of_week_1,day_of_week_7,day_of_week_28,day_of_week_91
0,2025-10-29,AAPL,NaN,NaN,amc,NaN,NaN,2024-12-09,2025-09-28,2025-10-30,2025-11-05,2025-11-26,2026-01-28,Wednesday,Thursday,Wednesday,Wednesday,Wednesday
1,2025-07-30,AAPL,NaN,NaN,amc,NaN,NaN,2024-12-09,2025-06-28,2025-07-31,2025-08-06,2025-08-27,2025-10-29,Wednesday,Thursday,Wednesday,Wednesday,Wednesday
2,2025-04-30,AAPL,NaN,NaN,amc,NaN,NaN,2024-12-09,2025-03-28,2025-05-01,2025-05-07,2025-05-28,2025-07-30,Wednesday,Thursday,Wednesday,Wednesday,Wednesday
3,2025-02-06,AAPL,NaN,2.36,amc,NaN,NaN,2024-12-09,2024-12-28,2025-02-07,2025-02-13,2025-03-06,2025-05-08,Thursday,Friday,Thursday,Thursday,Thursday
4,2024-10-31,AAPL,1.64,1.60,amc,9.493000e+10,9.451195e+10,2024-12-09,2024-09-28,2024-11-01,2024-11-07,2024-11-28,2025-01-30,Thursday,Friday,Thursday,Thursday,Thursday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13257,2014-08-05,ZTS,0.38,0.39,bmo,1.158000e+09,1.158000e+09,2024-11-21,2014-06-29,2014-08-06,2014-08-12,2014-09-02,2014-11-04,Tuesday,Wednesday,Tuesday,Tuesday,Tuesday
13258,2014-05-06,ZTS,0.38,0.37,bmo,1.097000e+09,1.068132e+09,2024-11-21,2014-03-30,2014-05-07,2014-05-13,2014-06-03,2014-08-05,Tuesday,Wednesday,Tuesday,Tuesday,Tuesday
13259,2014-02-11,ZTS,0.36,0.35,bmo,1.254000e+09,1.184333e+09,2024-11-21,2013-12-31,2014-02-12,2014-02-18,2014-03-11,2014-05-13,Tuesday,Wednesday,Tuesday,Tuesday,Tuesday
13260,2013-11-05,ZTS,0.34,0.35,bmo,1.103000e+09,1.103000e+09,2024-11-21,2013-09-29,2013-11-06,2013-11-12,2013-12-03,2014-02-04,Tuesday,Wednesday,Tuesday,Tuesday,Tuesday
13261,2013-08-06,ZTS,0.36,0.36,bmo,1.114000e+09,1.114000e+09,2024-11-21,2013-06-30,2013-08-07,2013-08-13,2013-09-03,2013-11-05,Tuesday,Wednesday,Tuesday,Tuesday,Tuesday

In [31]:
# for each of the date columns i would like to check if any of the dates fall on weekends. If they do I would like to move them to the next working day. I will do this check by creating additional columns that will provide the day of the week for each date column.

earnings_data['day_of_week'] = earnings_data['date'].dt.day_name()

earnings_data['day_of_week_1'] = earnings_data['date_1'].dt.day_name()

earnings_data['day_of_week_7'] = earnings_data['date_7'].dt.day_name()

earnings_data['day_of_week_28'] = earnings_data['date_28'].dt.day_name()

earnings_data['day_of_week_91'] = earnings_data['date_91'].dt.day_name()

# aggregate the day of the week columsn giving the count of each day of the week for each date column. The aim is to use pivot tables to see how the dates are distributed across the days of the week.

earnings_data.groupby('day_of_week_91').size() # in this case the 91 day column is used as an example. You can change the column to any of the date columns.

day_of_week_91
Friday       1276
Monday       1344
Thursday     3905
Tuesday      3259
Wednesday    3478
dtype: int64

In [32]:
# Adding the close price to the earnings data set based on the date and symbol (across all date columns)

# making sure that the date columns in the price dataset is a datetime object

prices_data['date'] = pd.to_datetime(prices_data['date'])

In [33]:
# # testing looking up the close price for a single date and symbol in the prices data set
#
# filt_test_data = prices_data[(prices_data['symbol'] == 'ABNB') & (prices_data['date'] == '2020-09-30')]
#
# filt_test_data['close'].values[0]

In [34]:
# merging the earnings data with the prices data

# function adds the close price to the earnings data based on the date and symbol

#def get_close_price(row, date_column):
  #  filtered_data = prices_data[(prices_data['symbol'] == row['symbol']) & (prices_data['date'] == row[date_column])]
    #if not filtered_data.empty:
      #  return filtered_data['close'].values[0]
    #else:
      #  return np.nan  # or any other default value you prefer

# Example usage:
# earnings_data['PriceEarningsData'] = earnings_data.apply(lambda row: get_close_price(row, 'date_1'), axis=1)

In [35]:
# defining the function that adds the close price to the earnings data set based on the date and symbol

# def add_price_columns_and_save(earnings_data, prices_data, date_columns, save_filepath):
#     def get_close_price(row, date_column):
#         filtered_data = prices_data[(prices_data['symbol'] == row['symbol']) & (prices_data['date'] == row[date_column])]
#         if not filtered_data.empty:
#             return filtered_data['close'].values[0]
#         else:
#             return np.nan  # or any other default value you prefer
#
#     for date_column in date_columns:
#         price_column = f'price_{date_column}'
#         earnings_data[price_column] = earnings_data.apply(lambda row: get_close_price(row, date_column), axis=1)
#         # Save the DataFrame to a CSV file
#         earnings_data.to_csv(save_filepath, index=False)
#
#     return earnings_data

# trying a modified version of functio to lesson the number of NaN values

def add_price_columns_and_save(earnings_data, prices_data, date_columns, save_filepath):
    def get_close_price(row, date_column):
        for offset in range(4):  # Check up to day +3
            check_date = row[date_column] + pd.DateOffset(days=offset)
            filtered_data = prices_data[(prices_data['symbol'] == row['symbol']) & (prices_data['date'] == check_date)]
            if not filtered_data.empty:
                return filtered_data['close'].values[0]
        return np.nan  # or any other default value you prefer

    for date_column in date_columns:
        price_column = f'price_{date_column}'
        earnings_data[price_column] = earnings_data.apply(lambda row: get_close_price(row, date_column), axis=1)
        # Save the DataFrame to a CSV file
        earnings_data.to_csv(save_filepath, index=False)

    return earnings_data

In [36]:
# testing out the functions on a smaller earnings data set based on 5 symbols and smaller date range

# making a copy of the earnings data set as a test set

earnings_data_test = earnings_data.copy()

# filtering the data set to only include the first 5 symbols

symbols = earnings_data_test['symbol'].unique()[:5]

earnings_data_test = earnings_data_test[earnings_data_test['symbol'].isin(symbols)]

# filtering the data set to only include dates between 2021-01-01 and 2021-01-31

earnings_data_test = earnings_data_test[(earnings_data_test['date'] >= '2023-01-01') & (earnings_data_test['date'] <= '2023-12-31')]

earnings_data_test

,date,symbol,eps,epsEstimated,time,revenue,revenueEstimated,updatedFromDate,fiscalDateEnding,date_1,date_7,date_28,date_91,day_of_week,day_of_week_1,day_of_week_7,day_of_week_28,day_of_week_91
8,2023-11-02,AAPL,1.46,1.39,amc,8.949800e+10,8.417580e+10,2024-11-25,2023-09-30,2023-11-03,2023-11-09,2023-11-30,2024-02-01,Thursday,Friday,Thursday,Thursday,Thursday
9,2023-08-03,AAPL,1.26,1.19,amc,8.179700e+10,8.168570e+10,2024-11-25,2023-07-01,2023-08-04,2023-08-10,2023-08-31,2023-11-02,Thursday,Friday,Thursday,Thursday,Thursday
10,2023-05-04,AAPL,1.52,1.43,amc,9.483600e+10,9.296020e+10,2024-11-25,2023-04-01,2023-05-05,2023-05-11,2023-06-01,2023-08-03,Thursday,Friday,Thursday,Thursday,Thursday
11,2023-02-02,AAPL,1.88,1.94,amc,1.171540e+11,1.213333e+11,2024-11-25,2022-12-31,2023-02-03,2023-02-09,2023-03-02,2023-05-04,Thursday,Friday,Thursday,Thursday,Thursday
58,2023-10-27,ABBV,2.95,2.86,bmo,1.392700e+10,1.367160e+10,2024-11-21,2023-09-30,2023-10-30,2023-11-03,2023-11-24,2024-01-26,Friday,Monday,Friday,Friday,Friday
59,2023-07-27,ABBV,2.91,2.79,bmo,1.386500e+10,1.351680e+10,2024-11-21,2023-06-30,2023-07-28,2023-08-03,2023-08-24,2023-10-26,Thursday,Friday,Thursday,Thursday,Thursday
60,2023-04-27,ABBV,2.46,2.44,bmo,1.222500e+10,1.216790e+10,2024-11-21,2023-03-31,2023-04-28,2023-05-04,2023-05-25,2023-07-27,Thursday,Friday,Thursday,Thursday,Thursday
61,2023-02-09,ABBV,3.60,3.54,bmo,1.512100e+10,1.533121e+10,2024-11-21,2022-12-31,2023-02-10,2023-02-16,2023-03-09,2023-05-11,Thursday,Friday,Thursday,Thursday,Thursday
108,2023-11-01,ABNB,2.39,2.08,amc,3.397000e+09,3.178430e+09,2024-05-03,2023-09-30,2023-11-02,2023-11-08,2023-11-29,2024-01-31,Wednesday,Thursday,Wednesday,Wednesday,Wednesday
109,2023-08-03,ABNB,0.98,0.78,amc,2.484000e+09,2.420410e+09,2024-05-03,2023-06-30,2023-08-04,2023-08-10,2023-08-31,2023-11-02,Thursday,Friday,Thursday,Thursday,Thursday
110,2023-05-09,ABNB,0.18,0.09,amc,1.818000e+09,1.790810e+09,2024-05-03,2023-03-31,2023-05-10,2023-05-16,2023-06-06,2023-08-08,Tuesday,Wednesday,Tuesday,Tuesday,Tuesday
111,2023-02-14,ABNB,0.48,0.25,amc,1.901546e+09,1.853470e+09,2024-05-03,2022-12-31,2023-02-15,2023-02-21,2023-03-14,2023-05-16,Tuesday,Wednesday,Tuesday,Tuesday,Tuesday
132,2023-10-18,ABT,1.14,1.10,bmo,1.014300e+10,9.614230e+09,2024-11-21,2023-09-30,2023-10-19,2023-10-25,2023-11-15,2024-01-17,Wednesday,Thursday,Wednesday,Wednesday,Wednesday
133,2023-07-20,ABT,1.08,1.04,bmo,9.978000e+09,9.698290e+09,2024-11-21,2023-06-30,2023-07-21,2023-07-27,2023-08-17,2023-10-19,Thursday,Friday,Thursday,Thursday,Thursday
134,2023-04-19,ABT,1.03,0.98,bmo,9.747000e+09,9.636200e+09,2024-11-21,2023-03-31,2023-04-20,2023-04-26,2023-05-17,2023-07-19,Wednesday,Thursday,Wednesday,Wednesday,Wednesday
135,2023-01-25,ABT,1.03,0.90,bmo,1.009100e+10,9.664871e+09,2024-11-21,2022-12-31,2023-01-26,2023-02-01,2023-02-22,2023-04-26,Wednesday,Thursday,Wednesday,Wednesday,Wednesday
181,2023-12-19,ACN,3.27,3.14,bmo,1.622430e+10,1.604010e+10,2024-11-24,2023-11-30,2023-12-20,2023-12-26,2024-01-16,2024-03-19,Tuesday,Wednesday,Tuesday,Tuesday,Tuesday
182,2023-09-28,ACN,2.71,2.66,bmo,1.598520e+10,1.607490e+10,2024-11-24,2023-08-31,2023-09-29,2023-10-05,2023-10-26,2023-12-28,Thursday,Friday,Thursday,Thursday,Thursday
183,2023-06-22,ACN,3.19,3.04,bmo,1.656458e+10,1.608150e+10,2024-11-24,2023-05-31,2023-06-23,2023-06-29,2023-07-20,2023-09-21,Thursday,Friday,Thursday,Thursday,Thursday
184,2023-03-23,ACN,2.69,2.50,bmo,1.581416e+10,1.654650e+10,2024-11-24,2023-02-28,2023-03-24,2023-03-30,2023-04-20,2023-06-22,Thursday,Friday,Thursday,Thursday,Thursday

In [37]:
# defining the inputs for the test function
save_filepath_test = '../Data/Datasets/updated_earnings_data_test.csv'

earnings_data_test = add_price_columns_and_save(earnings_data_test, prices_data, date_columns, save_filepath_test)

earnings_data_test

,date,symbol,eps,epsEstimated,time,revenue,revenueEstimated,updatedFromDate,fiscalDateEnding,date_1,...,day_of_week,day_of_week_1,day_of_week_7,day_of_week_28,day_of_week_91,price_date,price_date_1,price_date_7,price_date_28,price_date_91
8,2023-11-02,AAPL,1.46,1.39,amc,8.949800e+10,8.417580e+10,2024-11-25,2023-09-30,2023-11-03,...,Thursday,Friday,Thursday,Thursday,Thursday,177.57,176.65,182.41,189.95,186.86
9,2023-08-03,AAPL,1.26,1.19,amc,8.179700e+10,8.168570e+10,2024-11-25,2023-07-01,2023-08-04,...,Thursday,Friday,Thursday,Thursday,Thursday,191.17,181.99,177.97,187.87,177.57
10,2023-05-04,AAPL,1.52,1.43,amc,9.483600e+10,9.296020e+10,2024-11-25,2023-04-01,2023-05-05,...,Thursday,Friday,Thursday,Thursday,Thursday,165.79,173.57,173.75,180.09,191.17
11,2023-02-02,AAPL,1.88,1.94,amc,1.171540e+11,1.213333e+11,2024-11-25,2022-12-31,2023-02-03,...,Thursday,Friday,Thursday,Thursday,Thursday,150.82,154.50,150.87,145.91,165.79
58,2023-10-27,ABBV,2.95,2.86,bmo,1.392700e+10,1.367160e+10,2024-11-21,2023-09-30,2023-10-30,...,Friday,Monday,Friday,Friday,Friday,138.93,141.89,141.42,138.67,164.40
59,2023-07-27,ABBV,2.91,2.79,bmo,1.386500e+10,1.351680e+10,2024-11-21,2023-06-30,2023-07-28,...,Thursday,Friday,Thursday,Thursday,Thursday,148.85,150.85,149.05,146.63,145.20
60,2023-04-27,ABBV,2.46,2.44,bmo,1.222500e+10,1.216790e+10,2024-11-21,2023-03-31,2023-04-28,...,Thursday,Friday,Thursday,Thursday,Thursday,148.87,151.12,147.36,138.62,148.85
61,2023-02-09,ABBV,3.60,3.54,bmo,1.512100e+10,1.533121e+10,2024-11-21,2022-12-31,2023-02-10,...,Thursday,Friday,Thursday,Thursday,Thursday,148.70,152.05,149.53,147.35,146.59
108,2023-11-01,ABNB,2.39,2.08,amc,3.397000e+09,3.178430e+09,2024-05-03,2023-09-30,2023-11-02,...,Wednesday,Thursday,Wednesday,Wednesday,Wednesday,119.47,115.50,117.66,126.48,144.14
109,2023-08-03,ABNB,0.98,0.78,amc,2.484000e+09,2.420410e+09,2024-05-03,2023-06-30,2023-08-04,...,Thursday,Friday,Thursday,Thursday,Thursday,140.88,140.17,135.97,131.55,115.50
110,2023-05-09,ABNB,0.18,0.09,amc,1.818000e+09,1.790810e+09,2024-05-03,2023-03-31,2023-05-10,...,Tuesday,Wednesday,Tuesday,Tuesday,Tuesday,127.07,113.19,105.41,117.30,139.55
111,2023-02-14,ABNB,0.48,0.25,amc,1.901546e+09,1.853470e+09,2024-05-03,2022-12-31,2023-02-15,...,Tuesday,Wednesday,Tuesday,Tuesday,Tuesday,120.87,137.01,128.78,116.36,105.41
132,2023-10-18,ABT,1.14,1.10,bmo,1.014300e+10,9.614230e+09,2024-11-21,2023-09-30,2023-10-19,...,Wednesday,Thursday,Wednesday,Wednesday,Wednesday,95.56,95.44,93.57,98.00,113.93
133,2023-07-20,ABT,1.08,1.04,bmo,9.978000e+09,9.698290e+09,2024-11-21,2023-06-30,2023-07-21,...,Thursday,Friday,Thursday,Thursday,Thursday,111.83,114.29,112.65,104.93,95.44
134,2023-04-19,ABT,1.03,0.98,bmo,9.747000e+09,9.636200e+09,2024-11-21,2023-03-31,2023-04-20,...,Wednesday,Thursday,Wednesday,Wednesday,Wednesday,112.29,110.35,108.75,108.82,107.28
135,2023-01-25,ABT,1.03,0.90,bmo,1.009100e+10,9.664871e+09,2024-11-21,2022-12-31,2023-01-26,...,Wednesday,Thursday,Wednesday,Wednesday,Wednesday,111.00,111.07,111.82,102.69,108.75
181,2023-12-19,ACN,3.27,3.14,bmo,1.622430e+10,1.604010e+10,2024-11-24,2023-11-30,2023-12-20,...,Tuesday,Wednesday,Tuesday,Tuesday,Tuesday,341.51,339.50,353.43,354.56,378.08
182,2023-09-28,ACN,2.71,2.66,bmo,1.598520e+10,1.607490e+10,2024-11-24,2023-08-31,2023-09-29,...,Thursday,Friday,Thursday,Thursday,Thursday,300.77,307.11,309.66,292.04,351.59
183,2023-06-22,ACN,3.19,3.04,bmo,1.656458e+10,1.608150e+10,2024-11-24,2023-05-31,2023-06-23,...,Thursday,Friday,Thursday,Thursday,Thursday,307.25,298.43,308.33,312.47,312.00
184,2023-03-23,ACN,2.69,2.50,bmo,1.581416e+10,1.654650e+10,2024-11-24,2023-02-28,2023-03-24,...,Thursday,Friday,Thursday,Thursday,Thursday,271.66,272.00,282.66,275.55,307.25

In [38]:
# function has worked correctly, now to apply it to the full earnings data set
date_columns = ['date', 'date_1', 'date_7', 'date_28', 'date_91']
save_filepath = '../Data/Datasets/updated_earnings_data.csv'

earnings_data = add_price_columns_and_save(earnings_data, prices_data, date_columns, save_filepath)

In [5]:
# calling read_csv to check the data has been saved correctly as 'updated_earnings_data.csv'

updated_earnings_data = pd.read_csv('../Data/Datasets/updated_earnings_data.csv')

updated_earnings_data

,date,symbol,eps,epsEstimated,time,revenue,revenueEstimated,updatedFromDate,fiscalDateEnding,date_1,...,day_of_week,day_of_week_1,day_of_week_7,day_of_week_28,day_of_week_91,price_date,price_date_1,price_date_7,price_date_28,price_date_91
0,2025-10-29,AAPL,NaN,NaN,amc,NaN,NaN,2024-12-09,2025-09-28,2025-10-30,...,Wednesday,Thursday,Wednesday,Wednesday,Wednesday,NaN,NaN,NaN,NaN,NaN
1,2025-07-30,AAPL,NaN,NaN,amc,NaN,NaN,2024-12-09,2025-06-28,2025-07-31,...,Wednesday,Thursday,Wednesday,Wednesday,Wednesday,NaN,NaN,NaN,NaN,NaN
2,2025-04-30,AAPL,NaN,NaN,amc,NaN,NaN,2024-12-09,2025-03-28,2025-05-01,...,Wednesday,Thursday,Wednesday,Wednesday,Wednesday,NaN,NaN,NaN,NaN,NaN
3,2025-02-06,AAPL,NaN,2.36,amc,NaN,NaN,2024-12-09,2024-12-28,2025-02-07,...,Thursday,Friday,Thursday,Thursday,Thursday,NaN,NaN,NaN,NaN,NaN
4,2024-10-31,AAPL,1.64,1.60,amc,9.493000e+10,9.451195e+10,2024-12-09,2024-09-28,2024-11-01,...,Thursday,Friday,Thursday,Thursday,Thursday,225.91,222.91,227.48,237.33,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13257,2014-08-05,ZTS,0.38,0.39,bmo,1.158000e+09,1.158000e+09,2024-11-21,2014-06-29,2014-08-06,...,Tuesday,Wednesday,Tuesday,Tuesday,Tuesday,32.21,32.30,32.45,35.48,39.12
13258,2014-05-06,ZTS,0.38,0.37,bmo,1.097000e+09,1.068132e+09,2024-11-21,2014-03-30,2014-05-07,...,Tuesday,Wednesday,Tuesday,Tuesday,Tuesday,30.89,30.65,30.73,31.25,32.21
13259,2014-02-11,ZTS,0.36,0.35,bmo,1.254000e+09,1.184333e+09,2024-11-21,2013-12-31,2014-02-12,...,Tuesday,Wednesday,Tuesday,Tuesday,Tuesday,29.13,30.00,30.27,30.28,30.73
13260,2013-11-05,ZTS,0.34,0.35,bmo,1.103000e+09,1.103000e+09,2024-11-21,2013-09-29,2013-11-06,...,Tuesday,Wednesday,Tuesday,Tuesday,Tuesday,31.69,31.27,31.84,31.09,30.23
13261,2013-08-06,ZTS,0.36,0.36,bmo,1.114000e+09,1.114000e+09,2024-11-21,2013-06-30,2013-08-07,...,Tuesday,Wednesday,Tuesday,Tuesday,Tuesday,31.13,31.24,30.45,29.43,31.69

In [6]:
# removing rows where the 'date' is greater than 12M 2024 in order to not include these NAN values

updated_earnings_data = updated_earnings_data[updated_earnings_data['date'] <= '2024-12-01']

In [7]:
# checking where the nan values are in the updated_earnings_data by company

# creating a pivot table where the rows are the symbols and the columns the count of nan values in each of the price_date columns

# Creating a pivot table to count NaN values in each price_date column by symbol
nan_pivot = updated_earnings_data[['symbol', 'price_date', 'price_date_1', 'price_date_7', 'price_date_28', 'price_date_91']].isna().groupby(updated_earnings_data['symbol']).sum()

# Display the pivot table
nan_pivot

,symbol,price_date,price_date_1,price_date_7,price_date_28,price_date_91
symbol,,,,,,
AAPL,0,0,0,0,0,1
ABBV,0,0,0,0,0,1
ABNB,0,4,4,4,5,4
ABT,0,0,0,0,0,1
ACN,0,0,0,0,0,1
...,...,...,...,...,...,...
WM,0,0,0,0,0,1
WMB,0,0,0,0,1,1
WMT,0,0,0,0,1,1
XOM,0,0,0,0,0,1
ZTS,0,0,0,0,1,1

In [10]:
# viewing data for specific symbols

#symbol to view

symbol = 'BABA'

# filtering the data to only include the symbol and the columns with nan values for the price_date columns

symbol_data = updated_earnings_data[updated_earnings_data['symbol'] == symbol][['date','symbol', 'day_of_week', 'day_of_week_1', 'day_of_week_7', 'day_of_week_28', 'day_of_week_91',
                                                                                'price_date', 'price_date_1', 'price_date_7', 'price_date_28', 'price_date_91']]

# selecting only rows that contain nan values

symbol_data = symbol_data[symbol_data.isna().any(axis=1)]

# displaying the data

symbol_data

,date,symbol,day_of_week,day_of_week_1,day_of_week_7,day_of_week_28,day_of_week_91,price_date,price_date_1,price_date_7,price_date_28,price_date_91
1510,2024-11-15,BABA,Friday,Monday,Friday,Friday,Friday,88.59,89.35,83.13,NaN,NaN
1552,2014-03-31,BABA,Monday,Tuesday,Monday,Monday,Monday,NaN,NaN,NaN,NaN,NaN
1553,2013-12-31,BABA,Tuesday,Wednesday,Tuesday,Tuesday,Tuesday,NaN,NaN,NaN,NaN,NaN
1554,2013-09-30,BABA,Monday,Tuesday,Monday,Monday,Monday,NaN,NaN,NaN,NaN,NaN
1555,2013-07-01,BABA,Monday,Monday,Monday,Monday,Monday,NaN,NaN,NaN,NaN,NaN

In [14]:
# merging the finance data with the updated earnings data. In the updated earnings data, I will only keep selected columns. Selections is made first.

# selecting the columns to keep in the updated earnings data

columns_to_keep = ['date', 'symbol', 'eps', 'epsEstimated',
                         'revenueEstimated', 'updatedFromDate', 'fiscalDateEnding', 'date_1',
                         'date_7', 'date_28', 'date_91', 'day_of_week', 'day_of_week_1',
                         'day_of_week_7', 'day_of_week_28', 'day_of_week_91', 'price_date',
                         'price_date_1', 'price_date_7', 'price_date_28', 'price_date_91']

updated_earnings_data = updated_earnings_data[columns_to_keep]

In [ ]:
# merging the finance data with the updated earnings data, keeping all data from the finance data set and only the data from the updated earnings data set that matches the finance data set. The match will be based on date (date_x in finance dataset) and symbol

# merging the finance data with the updated earnings data

finance_data = finance_data.merge(updated_earnings_data, how='inner', left_on=['date_x', 'symbol'], right_on=['date', 'symbol'])

In [17]:
# saving the finance data as "updated_finance_data.csv"

finance_data.to_csv('../Data/Datasets/updated_finance_data.csv', index=False)