### Creating Financial Datasets [Share Splits]

While doing data exploration, I noticed that Prices are not consistent overtime for some stocks due to the number of outstanding shares changing. Although this is a regular business feature, it can have negative impact on the data analysis and model performance.

In order to correct this issue, I will create a dict of stock splits and adjust the prices accordingly. I will then save the data as a csv file in the data folder named financial_data_ShareSplits.csv

In [43]:
# import libraries

import pandas as pd

In [44]:
# importing cleaned company profile data

filepath='../Data/Datasets/company_profile_cleaned_50B.csv'

company_profile_data = pd.read_csv(filepath)

In [45]:
# creating a list of stocks symbols based on the company profile data

stocks = company_profile_data['symbol'].tolist()

stocks[:5]

['NVDA', 'AAPL', 'MSFT', 'AMZN', 'GOOGL']

In [46]:
# getting API key from gitignore file

import requests
import os
from dotenv import load_dotenv
import time

# Load environment variables from .env file
load_dotenv()

# Get the API key from environment variable
api_key = os.getenv('FMP_API_KEY')

In [47]:
# creating a function which will connect to the Financial Model Prep API and download financial data for each stock. The function will iterate through the list of stocks defined above.
#  The function will start with an empty dataframe (split_data) and append the data for each stock to the dataframe.
# The function will append data after each API call to the dataframe, in case if the API times out i will not lose previous data.
# The function will return the dataframe with all the data for all the stocks once iteration is complete. The API used is the Financial Model Prep API, the Splits_Historical endpoint will be used to download the data.
# In order to make sure that API doesnt time out a retry logic will be put into the function and sleep/delay will be added between retries.
# An example of endpoint access is as follows https://financialmodelingprep.com/api/v3/historical-price-full/stock_split/AAPL?apikey=demo_key

In [48]:
# creating a function to get financial data

def get_financial_data(stocks, retries=3, delay=5, timeout=10):
    """
    Connects to the Financial Model Prep API and downloads financial data for each stock.
    Iterates through the list of stocks and appends the data to a DataFrame.
    Retries the API call in case of timeout and adds a delay between retries.

    Parameters:
    stocks (list): List of stock symbols.
    retries (int): Number of retries in case of API timeout.
    delay (int): Delay in seconds between retries.
    timeout (int): Timeout for the API call in seconds.

    Returns:
    pd.DataFrame: DataFrame containing the financial data for all stocks.
    """
    split_data = pd.DataFrame()

    for stock in stocks:
        url = f"https://financialmodelingprep.com/api/v3/historical-price-full/stock_split/{stock}?apikey={api_key}"
        for i in range(retries):
            try:
                response = requests.get(url, timeout=timeout)
                data = response.json()
                # Convert the data to a DataFrame
                stock_data = pd.DataFrame(data['historical'])
                # Add the 'symbol' column
                stock_data['symbol'] = stock
                # Concatenate the new data with the existing data
                split_data = pd.concat([split_data, stock_data], ignore_index=True)
                break
            except Exception as e:
                print(f"Error for stock {stock} on try {i+1}/{retries}. Exception: {e}")
                time.sleep(delay)
                continue

    return split_data

In [49]:
# Testing the newly created function. i will download data for 5 stocks and limit the data to 10 records per stock. The 5 stocks should be the first 5 stocks in the list of stocks.

financial_data_test = get_financial_data(stocks[:5])

# sort by symbol ascending and date descending

financial_data_test

          date             label  numerator  denominator symbol
0   2024-06-10       June 10, 24         10            1   NVDA
1   2021-07-20       July 20, 21          4            1   NVDA
2   2007-09-11  September 11, 07          3            2   NVDA
3   2006-04-07      April 07, 06          2            1   NVDA
4   2001-09-17  September 17, 01          2            1   NVDA
5   2000-06-27       June 27, 00          2            1   NVDA
6   2020-08-31     August 31, 20          4            1   AAPL
7   2014-06-09       June 09, 14          7            1   AAPL
8   2005-02-28   February 28, 05          2            1   AAPL
9   2000-06-21       June 21, 00          2            1   AAPL
10  1987-06-16       June 16, 87          2            1   AAPL
11  2003-02-18   February 18, 03          2            1   MSFT
12  1999-03-29      March 29, 99          2            1   MSFT
13  1998-02-23   February 23, 98          2            1   MSFT
14  1996-12-09   December 09, 96          2            1   MSFT
15  1994-05-23        May 23, 94          2            1   MSFT
16  1992-06-15       June 15, 92          3            2   MSFT
17  1991-06-27       June 27, 91          3            2   MSFT
18  1990-04-16      April 16, 90          2            1   MSFT
19  1987-09-21  September 21, 87          2            1   MSFT
20  2022-06-06       June 06, 22         20            1   AMZN
21  1999-09-02  September 02, 99          2            1   AMZN
22  1999-01-05    January 05, 99          3            1   AMZN
23  1998-06-02       June 02, 98          2            1   AMZN
24  2022-07-18       July 18, 22         20            1  GOOGL
25  2014-04-03      April 03, 14        999          500  GOOGL

In [50]:
# the test was successful, i will now download data for all the stocks in the list and limit the data to 10 years of data; 40 records per stock.

full_split_data= get_financial_data(stocks)

In [51]:
# sorting the data by symbol in ascending order and date in descending order

full_split_data = full_split_data.sort_values(by=['symbol', 'date'], ascending=[True, False])

full_split_data

          date             label  numerator  denominator symbol
6   2020-08-31     August 31, 20        4.0          1.0   AAPL
7   2014-06-09       June 09, 14        7.0          1.0   AAPL
8   2005-02-28   February 28, 05        2.0          1.0   AAPL
9   2000-06-21       June 21, 00        2.0          1.0   AAPL
10  1987-06-16       June 16, 87        2.0          1.0   AAPL
..         ...               ...        ...          ...    ...
62  2001-07-19       July 19, 01        2.0          1.0    XOM
63  1997-04-14      April 14, 97        2.0          1.0    XOM
64  1987-09-15  September 15, 87        2.0          1.0    XOM
65  1981-06-12       June 12, 81        2.0          1.0    XOM
66  1976-07-26       July 26, 76        2.0          1.0    XOM

[978 rows x 5 columns]

In [54]:
# saving the file as a csv file in the data folder named financial_data_EnterpriseValue.csv

full_split_data.to_csv('../Data/Datasets/split_history.csv', index=False)